body {
	background: #eee;
	font: 400 1em/1.6em Arial, Tahoma, sans-serif;
}

h3 {
	color: green;
}

h1 {
	color: #efe;
}

#foot {
	text-align: center;
	color: #145;
}
.zag {
	color: #bd1515;
}
